:root {
  --font: 'Lato', sans-serif;

  --primary-color: blue;
  --darkBlack: #000000;
  --lightBlack: #333333;
  --darkGray: #999999;
  --lightGray: #f8f8f8;
  --lightBackGray: #d8d8d8;
  --insetGray: #e6e6e6;
  --mediumGray: #CCCCCC;
  --gray: #818181;
  --primaryBlue: #0065ff;
  --white: #ffffff;
  --orange: #ff4b00;
  --lightOrange: #ff8200;

  --blackOpacity: rgba(0,0,0,0.6);
  --transparent: rgba(255, 255, 255, 0);

  --border-radius: 4px;
  --box-shadow: 0px 0px 30px #e0e0e0;
}
